<!DOCTYPE html>
<html>
  <head>
    <title>Simulate</title>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/style.css' />
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.2/angular.min.js"></script>
      <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
  </head>
  <body>
    <h1>Simulate devices</h1>

    <div ng-app="simulationApp">

        <div ng-controller="devicesController">
            <div ng-controller="simulationController">
                <table class="table">
                    <th>Device ID</th>
                    <th>Status</th>
                    <th>Configuration</th>
                    <th>Start</th>
                    <th>Stop</th>
                    <tr ng-repeat="device in devices">
                        <td>{{device.deviceId}}</td>
                        <td>{{device.connectionState}}</td>
                        <td><textarea ng-model="device.configJson"></textarea> </td>
                        <td><button ng-click="startSimulation(device);getDevices();">Start</button></td>
                        <td><button ng-click="stopSimulation(device.deviceId);getDevices();">Stop</button></td>
                    </tr>
                </table>

                <div>
                    <fieldset>
                        <legend>Configuration Tool</legend>
                        Frequency<br><input type="text" ng-model="configTemplate.frequency"><br><br>

                        Data<br>
                        <div ng-repeat="tuple in configTemplate.data">
                            <input type="text" ng-model="tuple.key"> : <input type="text" ng-model="tuple.value">
                        </div>
                        <button ng-click="addDataTuple()">New tuple</button>

                        <br><br><br>
                        <button ng-click="generateJsonConfig()">Generate Configuration</button><br>
                        <textarea ng-model="configOutput"></textarea>
                    </fieldset>
                </div>

                <br>
                <div>
                    No simulations are running.
                </div>

            </div>
        </div>

    </div>

    <script>
        var app = angular.module('simulationApp', []);
    </script>

    <script src="javascripts/devicesController.js"></script>
    <script src="javascripts/simulationController.js"></script>
  </body>
</html>
